.toolbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #d21919;
  color: white;
  font-weight: 300;
}

.toolbar img {
  margin: 10px;
}

.logoTextContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

button {
  margin: 10px;
  font-weight: 800;
  color: #d21919;
  border: none;
  background-color: white;
}

.headerButtons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
