form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
mat-form-field {
  display:flex;
  justify-content: center;
  align-items: center;
  margin:10px;
  flex-wrap: wrap;
}
textarea{
  height:75px;
}
.section{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
button {
  margin:0px;
  font-weight: 550;
  font-size: large;
  background-color: #d21919;
  color: white;
  border: none;
  border-radius: 5px;
}

.individualFields{
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  margin:0 0 0 40px;

}
