<form
  [formGroup]="addMediaForm"
  (ngSubmit)="adminPortal.addMedia(addMediaForm.value)"
>
  <!-- type -->
  <div class="section">
    <div class="individualFields" *ngIf="!newTypeToggle">
      <mat-form-field appearance="fill">
        <mat-label>Machine Type</mat-label>
        <mat-select formControlName="type">
          <mat-option
            [value]="option.type"
            *ngFor="let option of adminPortal.types()"
          >
            {{ option.type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="newTypeToggle = !newTypeToggle">+</button>
    </div>
    <mat-form-field class="type" appearance="fill" *ngIf="newTypeToggle">
      <mat-label>Type</mat-label>
      <input matInput formControlName="type" />
    </mat-form-field>

    <!-- brand -->

    <div class="individualFields" *ngIf="!newBrandToggle">
      <mat-form-field appearance="fill">
        <mat-label>Machine Brand</mat-label>
        <mat-select formControlName="brand">
          <mat-option
            [value]="option.brand"
            *ngFor="let option of adminPortal.brands()"
          >
            {{ option.brand }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="newBrandToggle = !newBrandToggle">+</button>
    </div>
    <mat-form-field class="brand" appearance="fill" *ngIf="newBrandToggle">
      <mat-label>Brand</mat-label>
      <input matInput formControlName="brand" />
    </mat-form-field>

    <!-- model -->

    <div class="individualFields" *ngIf="!newModelToggle">
      <mat-form-field appearance="fill">
        <mat-label>Machine Model</mat-label>
        <mat-select formControlName="model">
          <mat-option
            [value]="option.model"
            *ngFor="let option of adminPortal.models()"
          >
            {{ option.model }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="newModelToggle = !newModelToggle">+</button>
    </div>
    <mat-form-field class="model" appearance="fill" *ngIf="newModelToggle">
      <mat-label>Model</mat-label>
      <input matInput formControlName="model" />
    </mat-form-field>
  </div>

  <!-- Media type -->
  <div class="section">
    <mat-form-field appearance="fill">
      <mat-label>Media Type</mat-label>
      <mat-select formControlName="mediaType">
        <mat-option value="Video">Video</mat-option>
        <mat-option value="Document">Document</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- media Title -->
    <mat-form-field class="mediaTitle" appearance="fill">
      <mat-label>Media Title</mat-label>
      <input matInput formControlName="mediaTitle" />
    </mat-form-field>

    <!-- media URL -->
    <mat-form-field class="mediaUrl" appearance="fill">
      <mat-label>Media URL</mat-label>
      <input matInput formControlName="mediaUrl" />
    </mat-form-field>
  </div>

  <!-- Media Description   -->
  <div class="section">
    <mat-form-field class="mediaDescription" appearance="fill">
      <mat-label>Media Description</mat-label>
      <textarea matInput formControlName="mediaDescription"></textarea>
    </mat-form-field>
    <button  class="submit" mat-raised-button type="submit">
      Submit
    </button>
  </div>
</form>
