form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
mat-form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-wrap: wrap;
}
textarea {
  height: 75px;
}
.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.addButton, .submit, .startOver, .selectionButtons{
  margin: 0px;
  font-weight: 550;
  font-size: large;
  background-color: #d21919;
  color: white;
  border: none;
  border-radius: 5px;

}

.addButton  {
  padding: 0px 0px;
  margin: 3px;
}
.startOver {
  padding: 10px 15px;
  margin: 0 20px;

}
.selectionButtons{
  padding: 10px 15px;
  margin: 20px 20px;
}

.individualFields {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  margin: 0 0 0 40px;
}

.errorContainer {
  margin: 20px;
  display: flex;
  justify-content: center;
}







.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 0 0;
  flex-wrap: wrap;
}
h1 {
  display: flex;
  color: black;
  font-size: 25px;
  font-weight: 500;
  padding: 10px;
  margin: 0;
  justify-content: center;
}

.deleteButton {
  padding: 2px 4px;
  font-weight: 550;
  font-size: small;
  background-color: white;
  color:#d21919;
  border: none;
  border-radius: 5px;
}
button{
  cursor: pointer;
}

mat-card {
  color: white;
  width: 35vw;
  min-width: 175px;
  margin: 5px;
  background-color: #d21919;
}
.mediaContainer {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: white;
}
.mediaContainer,
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
}

mat-card-content {
  padding: 0;
  margin: 0;

}

mat-card-title {
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin: 0;
  padding: 0;
}
