.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 0 0;
  flex-wrap: wrap;
}
h1 {
  display: flex;
  color: black;
  font-size: 25px;
  font-weight: 500;
  padding: 10px;
  margin: 0;
  justify-content: center;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-weight: 550;
  font-size: large;
  background-color: #d21919;
  color: white;
  border: none;
  border-radius: 5px;
}

mat-card {
  color: white;
  width: 35vw;
  min-width: 175px;
  margin: 5px;
  background-color: #d21919;
}
.mediaContainer {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: white;
}
.mediaContainer,
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
}

mat-card-content {
  padding: 0;
  margin: 0;

}

mat-card-title {
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin: 0;
  padding: 0;
}
