.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 0 0;
  flex-wrap:wrap;
}
h1{
  display: flex;
  color:black;
  font-size: 25px;
  font-weight: 500;
  padding: 10px;
  margin:0;
  justify-content: center;
}

button {
  margin:20px;
  padding:10px 20px;
  font-weight: 550;
  font-size: large;
  background-color: #d21919;
  color: white;
  border: none;
  border-radius: 5px;
}

mat-card {
  color:black;
  border:solid 1px #d21919;
  max-width:250px;
  min-width:175px;
  margin:20px;
}
.mediaContainer {
  display: flex;
  justify-content: center;
  margin:20px;

}
a {
  text-decoration: none;
}
.mediaContainer, .buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  width:75%;
}
