<form
  (ngSubmit)="ticketService.onSubmitForm(f)"
  #f="ngForm"
  *ngIf="ticketService.ticketSubmitted.success === 'false'"
>
  <fieldset>
    <span>*Please fill in all required information to submit.</span>
    <div class="group">
      <div>
        <label for="fullName">*Full Name:</label>
        <input type="text" id="fullName" ngModel name="fullName" required />
      </div>
      <div>
        <label for="companyName">Company Name:</label>
        <input type="text" id="companyName" ngModel name="companyName" />
      </div>
    </div>
    <div class="group">
      <div>
        <label for="phoneNumber">*Phone Number:</label>
        <input type="text" id="phoneNumber" ngModel name="phoneNumber" />
      </div>
      <div>
        <label for="email">*Email:</label>
        <input type="text" id="email" ngModel name="email" required email />
      </div>
    </div>
    <div class="group">
      <div>
        <label for="makeModel" requied>*Make & Model:</label>
        <select name="makeModel" id="model" ngModel>
          <option value="OKI C711WT">OKI C711WT</option>
          <option value="OKI 842WT">OKI 842WDT</option>
          <option value="OKI PRO9541WT">OKI 9541WDT</option>
          <option value="Crio C711WT">Crio C711WT</option>
          <option value="Crio 842WDT">Crio 842WDT</option>
          <option value="Crio 9541WDT">Crio 9541WDT</option>
          <option value="iColor i550">iColor i560</option>
          <option value="iColor i650">iColor i650</option>
          <option value="iColor i800">iColor i800</option>
          <option value="SWF A Series">SWF A Series</option>
          <option value="SWF B Series">SWF B Series</option>
          <option value="SWF C Series">SWF C Series</option>
          <option value="SWF DM Series">SWF DM Series</option>
          <option value="SWF E Series">SWF E Series</option>
          <option value="SWF ES Series">SWF ES Series</option>
          <option value="SWF K Series">SWF K Series</option>
          <option value="SWF KS Series">SWF KS Series</option>
          <option value="SWF KX Series">SWF KX Series</option>
          <option value="SWF MA Series">SWF MA Series</option>
          <option value="SWF MAN Series">SWF MAN Series</option>
          <option value="SWF MAS Series">SWF MAS Series</option>
          <option value="SWF UI Series">SWF UI Series</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div>
        <label>*Description of Issue:</label>
        <textarea
          id="description"
          ngModel
          name="description"
          required
        ></textarea>
      </div>
    </div>
    <button mat-flat-button type="submit" [disabled]="!f.valid">Submit</button>
  </fieldset>
</form>
<div class="messageContainer">
  <app-submit-success
    *ngIf="ticketService.ticketSubmitted.success === 'true'"
  ></app-submit-success>
</div>
